<h3>Voce tem certeza que deseja excluir esse item?</h3>
<hr/>

<form class="form-horizontal">
    <div class="form-group">
        <label>
            Nome
        </label>
        <p class="form-control-static">{{Produto.Nome}}</p>
    </div>

    <div class="form-group">
        <label>
            Valor
        </label>
        <p class="form-control-static">{{Produto.Valor}}</p>
    </div>

    <div class="form-group">
        <span class="label" ng-class="{true: 'label-success', false: 'label-danger', '': 'hidden'}[Produto.Ativo]">
            {{Produto.Ativo ? 'Ativo' : 'Descontinuado'}}
        </span>
    </div>

    <div class="form-group">
        <a href="#/list" class="btn btn-info">Voltar</a>
        <input type="submit" class="btn btn-danger" ng-click="delete()" value="Excluir"/>
    </div>
</form>